
.btn {
    position: relative;
    left: 5px;
}

table,tr {
    text-align: center;
}

#data_table {
    font-size: 25px;
    position: relative;
    left:20px;
    top: 50px;
    border: 3px black;
    background: rgb(167, 165, 165);   
}

.btn:hover {
    color: black !important;
  }
#wrapper {
    color:green;
}

#add-new-invoice {
    position: relative;
    top:70px;
}

