.btn {
    position: relative;
    top:15px;
    left:45px;
    margin-left: 20px;
    font-size: 20px;
    color: rgb(206, 86, 86);
    background-color: #dfe24800;
    border-color: #060a4d;
  }
  .btn:focus,
  .btn.focus {
    color: rgba(19, 1, 1, 0.74);
    background-color: rgb(150, 150, 150);
    border-color: #15ccc3;
  }
  .btn:hover {
    color:black;
    background-color: #286090;
    border-color: #204d74;
  }

  #table {
      position: relative;
      top:30px
  }
  
  