/* .title{
    text-align: center;
}
#title{
    margin-bottom: 20px;
}
#first-row, #second-row, #third-row{
    margin-bottom: 10px;

#customer, #customer-button, .cui-customer{
    margin-left: 80px;
}
.table{
    margin-top: 20px;
} */
#arrow{
    margin-left: 2px;
}
/* #edit-column{
margin-right: 4px;
} */
#products-table{
    margin-top: 60px;
}
#nav-tabs button{
    margin-left: 10px;
}
#wrapper #top-nav{
    margin-bottom: 10px;
}
#update-button{
    margin-right: 30px;
}